aiven_api_token      = "your-aiven-api-token"
aiven_project_name   = "your-project-name"
aws_access_key_id     = "your-access-key-id"
aws_secret_access_key = "your-secret-access-key"
iceberg_catalog_uri  = "your-catalog-uri"
iceberg_catalog_scope = "your-catalog-scope"
snowflake_client_id = "your-snowflake-connect-client-id"
snowflake_client_secret = "your-snowflake-connect-client-secret"