aiven_api_token      = "your_aiven_api_token"
aiven_project_name   = "your_project_name"
aiven_kafka_name = "your_desired_kafka_service_name"
aws_access_key_id     = "your_access_key_id"
aws_secret_access_key = "your_secret_access_key"
iceberg_catalog_uri  = "your_catalog_uri"
iceberg_catalog_scope = "PRINCIPAL_ROLE:<your_principal_role>"
snowflake_client_id = "your_snowflake_connect_client_id"
snowflake_client_secret = "your_snowflake_connect_client_secret"
iceberg_catalog_name = "your_catalog_name"
iceberg_catalog_tables_config = "<your_namespace>.<your_table_name>"